.chat__topbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.chat__leave__btn {
  padding: 0.5rem 0.75rem;
  margin: 0rem 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  letter-spacing: 1px;
  background-color: var(--COLOR_LIGHT);
  color: var(--COLOR_DARK);
}

.chat__leave__btn:hover {
  background-color: var(--GREY);
  color: var(--COLOR_BLACK);
}
