.chat__topbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem 0rem;
  border-bottom: 1px solid var(--COLOR_DARK);
  margin: 0rem 2rem;
}

.chat__btns {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.chat__icons {
  cursor: pointer;
  color: var(--COLOR_GREY);
  font-size: 1.5rem;
}
