.exroom__page {
  z-index: 1;
}

.exroom__contents {
  z-index: 5;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: rgba(230, 235, 228, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.exroom__heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--COLOR_DARK);
  letter-spacing: 2px;
}

.exroom__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.exroom__form > input {
  color: var(--COLOR_BLACK);
  background-color: rgba(230, 235, 228, 0.3);
  border-radius: 0.2rem;
  outline: none;
  padding: 0.5rem 1rem;
  width: 20rem;
  text-align: left;
  border-color: var(--COLOR_LIGHT);
  border-width: 1px;
  border-style: solid;
}

.join__room__btn {
  width: 20rem;
  padding: 0.5rem 1rem;
  background-color: var(--GREEN_LIGHT);
  color: var(--COLOR_DARK);
  outline: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.25rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.join__room__btn:focus,
.join__room__btn:hover {
  background-color: rgba(169, 211, 165, 0.5);
  color: var(--COLOR_BLACK);
  border-color: var(--GREEN_DARK);
  border-width: 1px;
  border-style: solid;
}
