.exroom__page {
  z-index: 1;
}

.exroom__contents {
  z-index: 5;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.13);
}

.exroom__heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--COLOR_LIGHT);
  letter-spacing: 2px;
}

.exroom__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.exroom__form > input {
  color: var(--COLOR_LIGHT);
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 0.2rem;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  width: 20rem;
  text-align: left;
}

.join__room__btn {
  width: 20rem;
  padding: 0.5rem 1rem;
  background-color: var(--COLOR_PRIMARY);
  color: var(--COLOR_DARK);
  outline: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.25rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.join__room__btn:focus,
.join__room__btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--COLOR_LIGHT);
}

/* MEDIA QUERY BREAKPOINTS */

@media (max-width: 845px) {
  .exroom__contents {
    max-width: 28rem;
    gap: 0.8rem;
  }

  .exroom__heading {
    margin-top: 0.5rem;
    letter-spacing: 1px;
    font-size: 1.8rem;
  }

  .exroom__form > input {
    width: 18rem;
  }

  .input__error {
    font-weight: 200;
    font-size: 0.9rem;
    text-align: center;
  }

  .join__room__btn {
    width: 18rem;
    font-size: 1rem;
  }
}

@media (max-width: 736px) {
  .exroom__contents {
    max-width: 24rem;
    gap: 0rem;
  }

  .exroom__heading {
    margin-top: 0.5rem;
    font-size: 1.4rem;
  }

  .exroom__form > input {
    width: 14rem;
  }

  .input__error {
    font-weight: 100;
    font-size: 0.8rem;
  }

  .join__room__btn {
    width: 14rem;
    font-size: 1rem;
  }
}

@media (max-width: 613px) {
  .exroom__contents {
    max-width: 20rem;
  }

  .exroom__heading {
    margin-top: 0rem;
    letter-spacing: normal;
    font-size: 1.25rem;
  }

  .exroom__form > input {
    width: 13rem;
    padding: 0.3rem 0.75rem;
  }

  .input__error {
    font-weight: 100;
    font-size: 0.8rem;
  }

  .join__room__btn {
    width: 13rem;
    font-size: 0.9rem;
    letter-spacing: normal;
    padding: 0.3rem 0.75rem;
  }
}

@media (max-width: 350px) {
  .exroom__contents {
    max-width: 16rem;
  }

  .exroom__heading {
    margin-top: 0rem;
    letter-spacing: normal;
    font-size: 1.2rem;
    text-align: center;
  }

  .join__room__btn {
    width: 13rem;
    font-size: 0.9rem;
    letter-spacing: normal;
    padding: 0.3rem 0.75rem;
    margin-bottom: 0.25rem;
  }
}
