.file__content {
  max-width: 20rem;
  padding: 0.75rem 1rem;
  word-wrap: break-word;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.download__icon__wrapper {
  padding: 0.75rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.you .download__icon__wrapper {
  /* background-color: var(--COLOR_DARK); */
  display: none;
}

.other .download__icon__wrapper {
  background-color: var(--COLOR_LIGHT);
}

.you .download__icon {
  color: var(--COLOR_LIGHT);
}

.other .download__icon {
  color: var(--COLOR_DARK);
}

.file__size {
  font-size: 0.7rem;
  letter-spacing: 1px;
}

/* MEDIA QUERY BREAKPOINTS */

@media (max-width: 700px) {
  .file__content {
    max-width: 18rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.95rem;
    gap: 0.5rem;
  }

  .download__icon__wrapper {
    padding: 0.6rem;
  }
}

@media (max-width: 600px) {
  .file__content {
    max-width: 15rem;
  }
}

@media (max-width: 440px) {
  .file__content {
    max-width: 13rem;
  }
}
