.media__item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.2rem;
  margin: 0.5rem 1rem;
}

.you {
  align-items: flex-end;
}

.other {
  align-items: flex-start;
}

.item__meta__data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.you > .item__meta__data {
  flex-direction: row-reverse;
}

.item__author {
  font-weight: 600;
  font-size: 0.8rem;
  margin: 0rem 0.25rem;
  letter-spacing: 1px;
}

.item__time {
  font-size: 0.7rem;
  letter-spacing: 1px;
}

.item__content {
  max-width: 30rem;
  padding: 0.5rem 0.75rem;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.you > .content {
  background-color: var(--COLOR_PRIMARY_DARK);
  color: var(--COLOR_BLACK);
  border-radius: 0.75rem 0rem 0.75rem 0.75rem;
}

.other > .content {
  background-color: var(--COLOR_DARK);
  color: var(--COLOR_WHITE);
  border-radius: 0rem 0.75rem 0.75rem 0.75rem;
}

/* MEDIA QUERY BREAKPOINTS */

@media (max-width: 700px) {
  .item__author {
    font-weight: 300;
  }

  .item__time {
    font-weight: 100;
  }

  .item__content {
    max-width: 25rem;
    padding: 0.4rem 0.65rem;
    font-size: 0.95rem;
  }
}

@media (max-width: 600px) {
  .item__author {
    font-weight: 100;
  }

  .item__content {
    max-width: 18rem;
  }
}

@media (max-width: 440px) {
  .item__content {
    max-width: 15rem;
  }
}
