.show__toast {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem auto;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 1px;
  border: 1px solid var(--COLOR_DARK);
  color: var(--COLOR_GREY);
}
