.show__toast {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem auto;
  text-align: center;
  background-color: var(--GREY);
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1px;
}
