.user__detail {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1rem;
  background-color: var(--COLOR_DARK);
  color: var(--COLOR_LIGHT);
  border-radius: 0rem 0rem 1rem 0rem;
}

.user__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
}

.arrow__icon {
  color: var(--COLOR_WHITE);
  font-size: 2rem;
}

.arrow__icon:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.user__header > h1 {
  font-weight: 400;
  font-size: 1.8rem;
}

.user__names {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-y: auto;
}

.user__names > p {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--GREY);
  color: var(--COLOR_BLACK);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
