.user__detail {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1rem;
}

.user__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
}

.user__icon {
  font-size: 1.6rem;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.user__header > h1 {
  font-weight: 400;
  font-size: 1.6rem;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.user__names {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 22rem;
  overflow-y: auto;
}

.user__names > p {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--GREY);
}
