@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dosis&family=Kablammo&display=swap");

:root {
  /* FONT-FAMILY-VARIABLE */
  --FF: "Dosis", sans-serif;

  /* COLORS-VARIABLE */
  --ERROR_COLOR: #ed4337;
  --COLOR_WHITE: rgb(255, 255, 255);
  --COLOR_BLACK: rgb(0, 0, 0);
  --COLOR_GREY: #b1b8ac;
  --COLOR_LIGHT: #d3d3d3;
  --COLOR_DARK: #30312b;
  --COLOR_PRIMARY: #a9d3a5;
  --COLOR_PRIMARY_DARK: #9ad068;

  /* SHADOW */
  --SHADOW: 0px 5px 10px 0px rgba(0, 0, 0, 0.6);
}

html {
  scroll-behavior: smooth;
  font-family: var(--FF);
}

body {
  background-color: rgba(0, 0, 0, 0.95);
  color: var(--COLOR_GREY);
}

/* UTILITY-FUNCTION */

.nowrap {
  white-space: nowrap;
}
